# Root Environment Variables
# INSERIRE QUI LE CREDENZIALI DEL DATABASE E I DOMINI
DATABASE_URL=postgresql://[UTENTE]:[PASSWORD]@[HOST]:6543/[DATABASE]
ALLOWED_ORIGINS=http://localhost:3000,https://linzialessandro.github.io
